body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    flex: 1 0 auto;
    overflow-y: auto;
}

/* Menu Bars */
.menu-bars {
    position: absolute;
}

/* APOD CSS Styles */
section#apod-splash {
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-image: url("../images/hero-images/gulf-of-mexico.webp");
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    overflow-x: hidden;
}

/* APOD Container Style */
section#apod-container {
    background: var(--light-color);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 2rem;
}

/* APOD Heading Style */
#apod-heading {
    display: flex;
    color: var(--font-color);
    justify-content: space-evenly;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    width: 100%;
    margin: 2rem 0 1rem;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}

/* Style for the links */
#apod-heading a {
    text-decoration: none;    
    color: var(--font-color);
}

/* APOD Card Clickable */
.clickable {
    text-decoration: none;
    font-size: 2rem;
    margin: 5px auto 10px;
}

/* APOD Card Clickable Hover */
.clickable:hover {
    color: var(--navColor3);
    font-weight: 800;
    text-decoration: none;
}

#apod-heading h2 {
    margin: 0;               
    padding: 0;
    color: var(--font-color);
    font-size: 2rem;
}

#apod-heading h2.clickable {
    cursor: pointer;         
    transition: color 0.3s ease; 
}

#apod-heading h2.clickable:hover {
    color: var(--navColor3);
    text-decoration: none;
}

#apod-heading h2:not(.clickable) {
    font-size: 1rem; 
}

/* APOD Container Styling */
#apod-container .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    height: auto;
}

/* APOD Card Container */
.card-container {
    display: flex;
    flex-direction: column;
    background: var(--primary-color) !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%);
    transition: 0.2s;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0 0 0 / 30%);
}

/* APOD Card Image */
.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

/* APOD Card Body */
.card-body {
    padding: 10px 20px 20px;
}

/* APOD Card Title */
.card-title {
    color: var(--font-color);
    font-size: 1.3rem !important;
    font-weight: 600;
    margin: 0 auto 10px;
    text-transform: capitalize;
}

/* APOD Card Clickable */
.clickable {
    color: var(--navColor3);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px auto 10px;
}

/* APOD Card Clickable Hover */
.clickable:hover {
    text-decoration: underline;
    font-weight: 800;
}

/* APOD Card Text */
.card-text {
    color: var(--font-color);
    font-size: 1.2rem !important;
    margin: 5px auto;
    font-family: "Inter", sans-serif;
    text-transform: none;
    line-height: 32px;
}

/* APOD Card Body Last */   
.card-body:last-of-type {
    color: var(--font-color);
    margin: 10px auto;
    text-transform: capitalize;
    font-size: 1.1rem;
}

/* Save Confirmation */
.save-confirmed {
    background: var((--primaryColor));
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 8px rgba(0 0 0 / 20%);
    transition: 0.2s;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.save-confirmed h3 {
    color: var(--navColor1);
    margin: 0.5rem auto;
}

/* Hidden */
.hidden {
    display: none;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width <= 600px) {
    #apod-heading,
    #apod-heading h2 {
        font-size: 1.2rem;
    }

    #apod-container .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-body .clickable {
        font-size: 0.9rem;
    }

    .clickable:hover {
        text-decoration: underline;
    }

    .card-text {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.4rem;
    }

    .card-body:last-of-type  {
        font-size: 1rem;
    }

    .save-confirmed {
        right: 25px;
    }
}

