/* This file contains the CSS styles for the Astronomy Picture of the Day (APOD). */ 
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1; /* Allow main to grow and take available space */
    margin-bottom: 2rem; /* Spacing above footer */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

/* Menu Bars */
.menu-bars {
    position: absolute;
}

/* APOD CSS Styles */
section#apod-splash {
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-image: url("../images/hero-images/gulf-of-mexico.webp");
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

#apod-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--ligh-color);
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 20px;
    width: 100%;
}

main {
    flex: 1;
    margin-bottom: 2rem;
}

.apod-navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0.5rem; */
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: var(--font-color);
}

.apod-nav-container-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--ligh-color);
    z-index: -1; 
}

#results-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results-nav h2 {
    cursor: pointer;
    user-select: none;
    color: var(--font-color);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem;
}

#results-nav h2:hover {
    color: var(--navColor3);
}

.nav-items a {
    text-decoration: none;
}

#results-nav h2:nth-child(2):hover {
    color: black;
    cursor: none;
    pointer-events: none; 
}

#results-nav h2:first-child {
    margin-right: auto;
}

#results-nav h2:last-child {
    margin-left: auto; 
}

/* General Card Styling */
.card-container {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.card {
    background: var(--primaryColor);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%);
    transition: 0.2s;
    /* flex: 0 1 calc(95% - 5px); */
    width: calc(95% - 5px);
    height: auto;
    

}

.card-container .card:hover  {
box-shadow: 0 8px 16px 0 rgba(0 0 0 / 30%);
}

.card-img-top {
width: 100%;
height: auto;
border-radius: 5px 5px 0 0;
}

.card-body {
padding: 10px 20px 20px;
}

.card-body .card-text {
    color: var(--font-color);
    font-size: 1.1rem !important;
    margin: 5px auto;
    font-family: "Inter", sans-serif;
    text-transform: none;
}

.card-body .clickable {
    color: var(--navColor3);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px auto;
}

.card-body .clickable:hover {
    text-decoration: underline;
    font-weight: 800;
}

.card-body .card-title{
    color: var(--font-color);
    font-size: 1.3rem !important;
    font-weight: 600;
    margin: 10px auto;
    text-transform: capitalize;
}

.card-body :last-of-type {
    color: var(--font-color);
    margin: 10px auto;
    text-transform: capitalize;
    font-size: 0.9rem;
}

/* Save Confirmation */
.save-confirmed {
    background: var((--primaryColor));
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 8px rgba(0 0 0 / 20%);
    transition: 0.2s;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.save-confirmed h3 {
    color: var(--navColor1);
    margin: 0.5rem auto;
}

/* Hidden */
.hidden {
    display: none;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
    .nav-items {
        gap: 0;
        padding: 0.2rem;

    }

    #results-nav .clickable {
        font-size: 1.35rem;
        padding: 0;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        width: 95% ;
        max-width: 400px;
    }

    .card-body .clickable {
        font-size: 0.9rem;
        margin: 1rem auto;
    }

    .card-body .clickable:hover {
        font-weight: 800;
        text-decoration: underline !important;
    }

    .card-body .card-text {
        font-size: 1rem !important;
        text-align: justify;
        line-height: 1.4rem;
    }
    .card-body .card-title {
        font-size: 1.1rem !important;
    }

    .card-body :last-of-type {
        font-size: 0.8rem;
    }

    .save-confirmed {
        right: 25px;
    }
}

