body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
flex: 1 0 auto;
overflow-y: auto;
}

/* Menu Bars */
.menu-bars {
    position: absolute;
}

/* Mars CSS Styles */
section#mars-splash {
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-image: url("../images/hero-images/mars-crater.webp");
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

section#mars-splash::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

section#mars-splash > * {
    position: relative;
    z-index: 2;
}

/* Mars Container Style */
section#mars-wrapper {
    background: var(--light-color);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 2rem;
}

#mars-wrapper-discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 0;
}

#mars-wrapper-discover-title {
    font-size: 2rem;
    color: var(--font-color);
    margin-bottom: 1rem;
    text-align: center;
    text-transform: none;
}

#mars-wrapper-discover p {
    font-size: 1.1rem;
    color: var(--font-color);
    font-size: 1.25rem;
    line-height: 32px;
    width: 90%;
    max-width: 800px;
    text-transform: none;
    padding-bottom: 1.5rem;
    margin: 0;
}

#mars-wrapper-discover p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--navColor4);
}

.rover {
    text-transform: capitalize;
}

#load-more-images {
    padding: 10px 15px;
}

/* Mars Container Card */
.mars-container-grid {
    width: 100%;
    max-width: 600px;
    padding: 1rem 0;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 2rem;
}

.mars-card-layout {
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    margin: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.mars-card-layout:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-img-top {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
    object-position: center;
    border: none;
} 

.card-body {
    padding: 10px 20px 20px;
}

.card-text {
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-size: 1rem;
    line-height: 28px;
    margin: 0;
    text-transform: none;
}



/* --- Media Queries ------------------------------ */
/* Medium Screens (601px to 1920px) */
@media (min-width: 601px) and (max-width: 1080px) {
    section#mars-splash {
        background-image: url("../images/med-images/mars-crater-md.jpg");
    }

    #mars-wrapper-discover h2 {
        font-size: 1.75rem;
    }
    
    .mars-container-grid  {
        width: 95%;
        gap: 1.5rem;
    }
}

/* Mobile Screens (0px to 600px) */
@media (max-width: 600px) {
    section#mars-splash {
        background-image: url("../images/small-images/mars-crater-sm.jpg");
    }

    #mars-wrapper-discover h2 {
        font-size: 1.5rem;
        padding-top: 1rem;
    }

    #mars-wrapper-discover p {
        font-size: 1rem;
        line-height: 24px;
        width: 90%;
    }

    .mars-container-grid {
        width: 90%;
        gap: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
        line-height: 22px;
    }

}

